<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BOMB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{189,893},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BadGuy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{189,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BottomFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{63,33}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{189,955},{63,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BottomLeftCorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{1,545},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BottomRightCorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{189,67},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConcreteBlockCentre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{189,133},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConcreteBlockEndLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{189,199},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConcreteBlockEndRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{189,265},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ConcreteBlockSingle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{189,331},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dynamite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,950},{62,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>EarthBlock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{189,397},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EarthBlockDownLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{189,463},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EarthBlockDownRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{189,529},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EarthBlockGrass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{112,713},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EarthBlockUpLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{169,595},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EarthBlockUpRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{123,821},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LeftFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{34,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{189,821},{34,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LowerObjectTray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,92}</string>
                <key>spriteSourceSize</key>
                <string>{542,92}</string>
                <key>textureRect</key>
                <string>{{95,1},{542,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pricess.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{62,124}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{1,824},{62,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Prince.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{56,124}</string>
                <key>spriteSourceSize</key>
                <string>{64,128}</string>
                <key>textureRect</key>
                <string>{{65,824},{56,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PrinceBotom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{112,779},{40,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PrinceTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{189,727},{56,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PrincessBottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{61,950},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PrincessTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{123,953},{58,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RightFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{34,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{189,857},{34,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Spikes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{123,887},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TopFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{64,34}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{174,785},{64,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TopLeftCorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{189,661},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TopRightCorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{109,109}</string>
                <key>textureRect</key>
                <string>{{1,713},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UpperObjectTray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,542}</string>
                <key>spriteSourceSize</key>
                <string>{92,542}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{254,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5abfecfa481ef3cfb25acacc9967f1a5:7ec7fd36f6e3ef068f6e78b0f25c75e7:aec6b45bca3b7962854224fb601709a8$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
